.root {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#testCard{
    -fx-min-height: 300px;
    -fx-min-width: 200px;
}

#parametre{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-border-color: transparent;
    -fx-background-image: url("../images/parametre.png");
    -fx-background-size: 100%;
}

#rootPlayer {
    -fx-background-color: #ff8c00;
    -fx-padding: 10 0 0 0;
}